<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>
<style>
    .btn:hover {
        color: blue;
    }
    .btn {
        display: block;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        color: black;
        padding: 10px;
        margin: 20px;
        /* text-decoration: underline; */
        border-radius: 10px;
    }

    .btn:hover {
        /* color: blue; */
        background: black;
        color: white;
    }


    .table-data {
        text-align: center;
    }

    h2 {
        color: green;
    }

    label {
        cursor: pointer;
        color: rebeccapurple;
        padding: 10px;
        margin: 3px;
    }

    th {
        color: rgb(255, 255, 255);
        border: none;
        background: rgb(0, 0, 0);
        width: 40vw;
        height: 10vh;
    }

    td {
        color: black;
        border: none;
        background: yellow;
    }

    table{
        border: none;
    }

    body {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 80, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    }
    .btn-mem_list{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        margin-top: 10vw;
        background: rgb(209, 209, 209);
        
    }
</style>

<body>
    <div class="table-data">

        <h2>Display members using Node.js & MySQL</h2>
        <table border="1" align="center" style="background-color:white">
            <tr>
                <th>S.N</th>
                <th>Member First Name</th>
                <th>Member Last Name</th>
                <th>Member City</th>
                <th>Member Locality</th>
                <th>Member Joining Date</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                <tr>
                    <td>
                        <%=data.mem_memID%>
                    </td>
                    <td>
                        <%=data.mem_firstname %>
                    </td>
                    <td>
                        <%=data.mem_lastname %>
                    </td>
                    <td>
                        <%=data.mem_city%>
                    </td>
                    <td>
                        <%=data.mem_locality%>
                    </td>
                    <td>
                        <%=data.mem_date%>
                    </td>
                    <td><a href="/members/form/update">Edit</a></td>
                    <td><a href="/members/form/delete">Delete</a></td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <% } %>
        </table>

        <div class="btn-mem_list">
        <a class="btn" href="./form">+ CREATE NEW</a>
        <a class="btn" href="./exports">Export Now</a>
        <a class="btn" href="./imports">Import Now</a>
        <a class="btn" href="../">Home page</a>
        </div>
    </div>
</body>

</html>