<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>
<style>
    .btn {
        display: block;
        text-align: center;
        font-size: 24px;

        text-decoration: none;
        color: black;

        padding: 10px;
        margin: 20px;
    }
</style>

<body>
    <div class="table-data">

        <h2>Display members using Node.js & MySQL</h2>
        <table border="1">
            <tr>
                <th>S.N</th>
                <th>Member First Name</th>
                <th>Member Last Name</th>
                <th>Member City</th>
                <th>Member Locality</th>
                <th>Member Joining Date</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                <tr>
                    <td>
                        <%=data.mem_memID; %>
                    </td>
                    <td>
                        <%=data.mem_firstname %>
                    </td>
                    <td>
                        <%=data.mem_lastname %>
                    </td>
                    <td>
                        <%=data.mem_city%>
                    </td>
                    <td>
                        <%=data.mem_locality%>
                    </td>
                    <td>
                        <%=data.mem_date%>
                    </td>
                    <td><a href="/members/form/update">Edit</a></td>
                    <td><a href="/members/form/delete">Delete</a></td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <% } %>
        </table>


        <a class="btn" href="./form">+ CREATE NEW</a>

    </div>
</body>

</html>